<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevintcoughlin.sightstone" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:name=".WardApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SummonersActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatchHistoryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/app_name" >
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="18b85511073de7110b693fd33f7ef96cb27ae1eb"/>
    </application>
</manifest>
